/* 
  Ported from https://codepen.io/alexserver/pen/BMNKBW 
  Colors from Color Pallete https://www.palettable.io/F54064-18EBF2-90F0E2-8DBAB0-272B1A
*/
body {
  animation: colorchange 40s infinite; /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 40s infinite; /* Chrome and Safari */
}

@keyframes colorchange
{
  0%   {background: #F54064;}
  25%  {background: #18EBF2;}
  50%  {background: #90F0E2;}
  75%  {background: #8DBAB0;}
  100% {background: #272B1A;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #F54064;}
  25%  {background: #18EBF2;}
  50%  {background: #90F0E2;}
  75%  {background: #8DBAB0;}
  100% {background: #272B1A;}
}