---
import Layout from "../layouts/Layout.astro";
import Sociallinks from "../components/Sociallinks.astro";
---

<Layout title="Welcome">
  <h1>Alejandro Gomez</h1>
  <p>Senior Web Engineer | Javascript | React | Remix | Vue</p>
  <Sociallinks />
</Layout>
