<section id="about" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>Hi there</h1>
    <p class="my-2">My name is Alejandro Gómez.</p>
    <p class="my-2">
      I’m a Senior Web Engineer with a primary focus on Front End Applications.
      I have over 18 years of experience working with Web Technologies, with a
      strong emphasis on building User Interfaces.
    </p>
    <p class="my-2">
      I enjoy building Web Products with a highly skilled team, in a good
      working culture favoring collaboration and good communication among smart
      and respectful individuals.
    </p>
    <p class="my-2">
      I’m an advocate of the Kaizen principle, which promotes the idea that
      constant, incremental improvement is the key to achieving lasting and
      impactful success.
    </p>
    <p class="my-2">My mantra is “Progress, not perfection”.</p>
    <ul class="actions m-0 mt-8">
      <li>
        <a
          href="https://www.linkedin.com/in/alejandrogomezarceo/"
          target="_blank"
          class="button scrolly">Check my LinkedIn</a
        >
      </li>
    </ul>
  </div>
</section>
