<section id="projects" class="wrapper style3 fade-up">
  <div class="inner">
    <h2>Side Projects</h2>
    <p>This is a recopilation of some of my side projects</p>
    <div class="features">
      <section>
        <img
          src="/images/projects/theoneliner.png"
          class="w-full object-cover rounded-md"
        />

        <h3>The Oneliner</h3>
        <p>
          A random joke generator. It's made with Remix, Prisma and PostgreSql.
          It uses the Unsplash API to fetch some random pictures with people
          smiling. The BD is in Vercel. The app is hosted in Vercel.
        </p>
      </section>
      <section>
        <img
          src="/images/projects/paisania.png"
          class="w-full object-cover rounded-md"
        />
        <h3>Paisania</h3>
        <p>
          Paisania is a conscious busines platform that wants to connect a
          respectful and conscious traveller with small communities within
          Spain. Travel should be about connecting with people.
        </p>
      </section>
    </div>
    <!-- <ul class="actions">
      <li><a href="generic.html" class="button">Learn more</a></li>
    </ul> -->
  </div>
</section>
