<section id="projects" class="wrapper style3 fade-up">
  <div class="inner">
    <h2>Side Projects</h2>
    <p>This is a recopilation of some of my side projects</p>
    <div class="features">
      <section>
        <a target="_blank" href="https://www.theoneliner.lol/">
          <img
            src="/images/projects/theoneliner.png"
            class="w-full object-cover rounded-md"
          />
        </a>

        <h3>
          <a
            target="_blank"
            href="https://www.theoneliner.lol/"
            class="border-b-0 no-underline hover:underline">The Oneliner</a
          >
        </h3>
        <p>
          A random joke generator. It's made with Remix, Prisma and PostgreSql.
          It uses the Unsplash API to fetch some random pictures with people
          smiling. The BD is in Vercel. The app is hosted in Vercel.
        </p>
      </section>
      <section>
        <a target="_blank" href="https://www.paisania.es/">
          <img
            src="/images/projects/paisania.png"
            class="w-full object-cover rounded-md"
          />
        </a>
        <h3>
          <a
            target="_blank"
            href="https://www.paisania.es/"
            class="border-b-0 no-underline hover:underline">Paisania</a
          >
        </h3>
        <p>
          Paisania is a platform that wants to connect travellers with small
          communities within Spain. We are advocates that a conscious travel
          experience is about connecting with people, and being respectful with
          the place we're guests in.
        </p>
      </section>
    </div>
  </div>
</section>
