---
import Sociallinks from "./Sociallinks.astro";
---

<div class="flex flex-col gap-2 text-md px-4 py-10">
  <img src="/portrait.jpg" class="w-64 h-64 object-cover rounded-full" />
  <h2 class="text-2xl">Alejandro Gomez</h2>
  <div class="text-sm">
    Passionate about always evolving and learning. I speak JS, and I love it, still, I can adapt and enjoy working with other stacks though. Adaptation ends suffering.
  </div>
  <div id="sociallinks">
    <Sociallinks />
  </div>
</div>