<!-- Sidebar -->
<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li><a href="#about">About me</a></li>
        <li><a href="#work-experience">Work experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Get in touch</a></li>
      </ul>
    </nav>
  </div>
</section>
