---
interface Props {
  showGoogle?: boolean
  showEmail?: boolean
}
const { showGoogle = false, showEmail = false } = Astro.props
---

<nav>
  <ul class="icons flex gap-2 justify-start">
    <li>
      <a
        target="_blank"
        href="https://github.com/alexserver"
        class="icon brands fa-github"><span class="label">Github</span></a
      >
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/alejandrogomezarceo/"
        class="icon brands fa-linkedin-in"
        ><span class="label">LinkedIn</span></a
      >
    </li>
    <li>
      <a
        target="_blank"
        href="https://twitter.com/alexserver"
        class="icon brands fa-twitter"><span class="label">Twitter</span></a
      >
    </li>
    {
      showEmail && (
        <li>
          <a
            target="_blank"
            href="mailto:alejandro@gomezarceo.mx"
            class="icon solid fa-envelope"
          >
            <span class="label">Email</span>
          </a>
        </li>
      )
    }
    {
      showGoogle && (
        <li>
          <a
            target="_blank"
            href="https://calendar.app.google/vvHifSEyxM1GLkFi7"
            class="icon brands fa-google"
          >
            <span class="label">Google</span>
          </a>
        </li>
      )
    }
    <li>
      <a
        target="_blank"
        href="https://www.instagram.com/alexserver"
        class="icon brands fa-instagram"><span class="label">Instagram</span></a
      >
    </li>
  </ul>
</nav>

<style>
  ul {
    list-style: none;
  }
  ul li {
    display: inline-block;
  }
  ul li a {
    display: inline-block;
    text-decoration: none;
  }
</style>
