<nav>
  <ul class="flex gap-2 justify-center">
    <li>
      <a href="/resume/en" class="icon fa-file"
        ><span class="label">Resume</span></a
      >
    </li>
    <li>
      <a href="#" class="icon brands fa-linkedin-in"
        ><span class="label">LinkedIn</span></a
      >
    </li>
    <li>
      <a href="#" class="icon brands fa-github"
        ><span class="label">Github</span></a
      >
    </li>
    <li>
      <a href="#" class="icon brands fa-twitter"
        ><span class="label">Twitter</span></a
      >
    </li>
    <li>
      <a href="#" class="icon solid fa-envelope"
        ><span class="label">Email</span></a
      >
    </li>
  </ul>
</nav>

<style>
  ul {
    list-style: none;
  }
  ul li {
    display: inline-block;
  }
  ul li a {
    display: inline-block;
    text-decoration: none;
  }
</style>