---
interface Props {
  showResume: boolean
}
const { showResume } = Astro.props
---
<nav>
  <ul class="flex gap-2 justify-center">
    {
      showResume && (
        <li>
          <a href="/resume/en" class="icon fa-file">
            <span class="label">Resume</span>
          </a>
        </li>
      )
    }

    <li>
      <a
        href="https://www.linkedin.com/in/alejandrogomezarceo/"
        class="icon brands fa-linkedin-in"
        ><span class="label">LinkedIn</span></a
      >
    </li>
    <li>
      <a href="https://github.com/alexserver" class="icon brands fa-github"
        ><span class="label">Github</span></a
      >
    </li>
    <li>
      <a href="https://twitter.com/alexserver" class="icon brands fa-twitter"
        ><span class="label">Twitter</span></a
      >
    </li>
    <li>
      <a href="mailto:alejandro@gomezarceo.mx" class="icon solid fa-envelope"
        ><span class="label">Email</span></a
      >
    </li>
  </ul>
</nav>

<style>
  ul {
    list-style: none;
  }
  ul li {
    display: inline-block;
  }
  ul li a {
    display: inline-block;
    text-decoration: none;
  }
</style>
