<section id="work-experience" class="wrapper style2 spotlights">
  <section>
    <a href="#" class="image"
      ><img
        src="images/workexperience/freestar.png"
        alt=""
        data-position="top center"
      /></a
    >
    <div class="content">
      <div class="inner">
        <h2>Freestar</h2>
        <p>
          Helped Freestar to maintain and bring new features to the Main
          Dashboard, used by their internal people, the Ad Associates, to
          deliver the best service to Freestar Publishers, working alongside
          Product Managers and a highly skilled cross-functional team.
        </p>
        <p>
          I also was part of the team that built the next generation of their
          Public Dashboard, the main interface to the Publishers that served
          cutting-edge data reports, in a record time of 3 months within the
          company’s history.
        </p>
        <p class="text-lg font-bold">Stack & Skills</p>
        <ul class="skills text-base">
          <li>VueJs</li>
          <li>VueX</li>
          <li>ES2022</li>
          <li>Element+</li>
          <li>CubeJs</li>
        </ul>
        <!-- <ul class="actions">
          <li><a href="generic.html" class="button">Learn more</a></li>
        </ul> -->
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"
      ><img
        src="images/workexperience/spot2nite.png"
        alt=""
        data-position="top center"
      /></a
    >
    <div class="content">
      <div class="inner">
        <h2>Spot2nite</h2>
        <p>
          Helped Spot2nite to maintain their Reservations API Services as well
          as helped to build their first version of the Public Web Reservations
          Page, using React and NextJs.
        </p>
        <p>
          One of my duties as Full Stack Engineer was to learn and connect their
          internal API ecosystem with external Parks APIs, dealing with the
          challenge of normalizing external data schemes to adjust into our
          internal schemes, as well as orchestrating the communication with
          different data flow pipelines for the different Parks API providers.
        </p>
        <p class="text-lg font-bold">Stack & Skills</p>
        <ul class="skills text-base">
          <li>React</li>
          <li>NextJs</li>
          <li>Material UI</li>
          <li>Elixir</li>
          <li>Phoenix</li>
          <li>PostgreSql</li>
          <li>Docker</li>
        </ul>
        <!-- <ul class="actions">
          <li><a href="generic.html" class="button">Learn more</a></li>
        </ul> -->
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"
      ><img
        src="images/workexperience/convert.png"
        alt=""
        data-position="top center"
      /></a
    >
    <div class="content">
      <div class="inner">
        <h2>Convert</h2>
        <p>
          Lead UI Developer at Convert, helped the company to maintain their UI
          Apps at peak performance. This entailed continuous development and
          enhancement of their Web Dashboard, which has served their clients
          over the years. Additionally, I was tasked with aligning the product
          with market demands by incorporating the necessary features.
        </p><p>
          I also helped Convert to iterate their Web Dashboard through 3 main
          generations. We started the first version in 2012 (I was a contractor
          by then) designing an SPA using jQuery. Over the time we evolved
          alongside the tech industry using different Javascript frameworks,
          such as Ractive and React, taking advantage of cutting-edge
          technologies and design patterns to shape the User Experience with
          Convert customers.
        </p>
        <p class="text-lg font-bold">Stack & Skills</p>
        <ul class="skills text-base">
          <li>jQuery</li>
          <li>ES5</li>
          <li>ES6</li>
          <li>RactiveJs</li>
          <li>React</li>
          <li>Material UI</li>
          <li>Php</li>
          <li>AWS DynamoDb</li>
          <li>MySql</li>
          <li>Vagrant</li>
        </ul>
        <!-- <ul class="actions">
          <li><a href="generic.html" class="button">Learn more</a></li>
        </ul> -->
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"
      ><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a
    >
    <div class="content">
      <div class="inner">
        <h2>Method Exists</h2>
        <p>
          We developed a Rich Data Application from the ground up for our
          primary client in the Canadian oil industry. Our objective was to
          deliver Real-Time Data Applications utilizing Web Sockets and an SPA.
          We created a comprehensive library of complex UI components using
          Ractive as a Reactive DOM javascript library.
        </p><p>
          Our main challenge was to deliver a huge amount of data to be updated
          in real time by the user, rendering a nested structure of complex Web
          Components in the shape of Web Forms and Rich Data Tables, such as how
          Google Sheets works. We had to iterate through some versions of the
          app to achieve the performance and speed the client needed for their
          daily data transactions.
        </p>
        <p class="text-lg font-bold">Stack & Skills</p>
        <ul class="skills text-base">
          <li>ES5</li>
          <li>RactiveJs</li>
          <li>MongoDb</li>
          <li>NodeJs</li>
        </ul>
      </div>
    </div>
  </section>
</section>
