---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Alejandro Gomez Website" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <noscript><link rel="stylesheet" href="styles/noscript.css" /></noscript>
    <title>{title}</title>
  </head>
  <body class="is-preload">
    <div id="wrapper">
      <div id="bg"></div>
      <div id="overlay"></div>
      <div id="main">
        <!-- Header -->
        <header id="header">
          <slot />
        </header>
        <!-- Footer -->
        <footer id="footer">
          <span class="copyright"
            >&copy; Powered by Astro and <a href="http://html5up.net"
              >HTML5 UP</a
            >.</span
          >
        </footer>
      </div>
    </div>
    <script>
      window.onload = function () {
        document.body.classList.remove("is-preload")
      }
      window.ontouchmove = function () {
        return false
      }
      window.onorientationchange = function () {
        document.body.scrollTop = 0
      }
    </script>
  </body>
</html>
