---
import Sidebar from '../components/Sidebar2.astro'
import '../styles/markdown.css'
const { frontmatter } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Alejandro Gomez Website" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/main.css" />
    <noscript><link rel="stylesheet" href="/styles/noscript.css" /></noscript>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="bg"></div>
      <div id="overlay"></div>
      <div id="main">
        <div
          class="h-screen flex flex-col justify-between align-middle bg-gradient-to-r from-indigo-500 from-20% via-indigo-400"
        >
          <div
            class="main-container flex gap-2 justify-between overflow-y-auto max-w-5xl"
          >
            <Sidebar />
            <div
              class="post px-4 text-white text-sm overflow-y-visible text-left py-5"
            >
              <slot />
            </div>
          </div>
          <div class="footer">
            <div class="h-px bg-gradient-to-r from-indigo-600"></div>
            <div class="copyright py-2">
              &copy; Powered by <a href="https://astro.build/">Astro</a> and <a
                href="http://html5up.net">HTML5 UP</a
              >.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<style>
  #main {
    font-family: 'Montserrat', sans-serif;
  }
</style>
